# This is a public template. Paste your real key in a local .env file !
VITE_JAZZ_APP_ID=your_actual_jazz_app_id_goes_here
VITE_JAZZ_SERVER_URL=https://v2.sync.jazz.tools/
JAZZ_ADMIN_SECRET=your_actual_jazz_admin_secret_goes_here
BACKEND_SECRET=your_actual_backend_secret_goes_here_not_used_in_this_project

VITE_JAZZ_ENV=dev